<div class="modal">
  <div class="modal-card modal-emp modal-emp-eliminar">
    <h3>Desactivar empleado</h3>
    <div class="summary">
      <div><b>ID:</b> <span id="empD_id">-</span></div>
      <div><b>Nombre:</b> <span id="empD_nombre">-</span></div>
      <div><b>Usuario:</b> <span id="empD_username">-</span></div>
      <div><b>Cargo:</b> <span id="empD_cargo">-</span></div>
    </div>
    <div class="modal-actions">
      <button id="empD_confirm" class="btn danger">Desactivar</button>
      <button id="empD_cancel" class="btn">Cancelar</button>
    </div>
    <p class="msg" id="empD_msg"></p>
  </div>
</div>
