<div class="modal">
  <div class="modal-card modal-prov modal-prov-eliminar">
    <h3>Desactivar proveedor</h3>
    <div class="summary">
      <div><b>ID:</b> <span id="provD_id">-</span></div>
      <div><b>Nombre:</b> <span id="provD_nombre">-</span></div>
      <div><b>Teléfono:</b> <span id="provD_telefono">-</span></div>
      <div><b>Email:</b> <span id="provD_email">-</span></div>
      <div><b>Dirección:</b> <span id="provD_direccion">-</span></div>
    </div>
    <div class="modal-actions">
      <button id="provD_confirm" class="btn danger">Desactivar</button>
      <button id="provD_cancel" class="btn">Cancelar</button>
    </div>
    <p class="msg" id="provD_msg"></p>
  </div>
</div>
