USE [Arq]
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleSalidaTipo]    Script Date: 4/10/2025 14:39:33 ******/
CREATE TYPE [dbo].[DetalleSalidaTipo] AS TABLE(
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NULL,
	[Observaciones] [nvarchar](150) NULL,
	CHECK (([Cantidad]>(0)))
)
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Estado] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Categoria_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](25) NULL,
	[Email] [nvarchar](150) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Estado] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Proveedor_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](180) NOT NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[ProveedorId] [int] NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Producto_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Producto_SKU] UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[MinStock] [int] NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Inventario]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_Inventario] AS
SELECT
    p.Id            AS ProductoId,
    p.SKU,
    p.Nombre        AS Producto,
    p.Precio,
    c.Nombre        AS Categoria,
    pr.Nombre       AS Proveedor,
    inv.Stock,
    inv.MinStock
FROM dbo.Producto p
JOIN dbo.Categoria c ON c.Id = p.CategoriaId
LEFT JOIN dbo.Proveedor pr ON pr.Id = p.ProveedorId
JOIN dbo.Inventario inv ON inv.ProductoId = p.Id
WHERE p.Estado = 1;
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Cargo] [nvarchar](80) NULL,
	[Estado] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
	[Username] [nvarchar](60) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[CargoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[EmpleadoId] [int] NULL,
	[Tipo] [varchar](12) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[StockDespues] [int] NOT NULL,
	[Motivo] [nvarchar](150) NULL,
	[Referencia] [nvarchar](100) NULL,
	[FechaUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Movimientos]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_Movimientos] AS
SELECT
    m.Id,
    m.FechaUtc,
    m.Tipo,
    m.Cantidad,
    m.StockDespues,
    m.Motivo,
    m.Referencia,
    p.SKU,
    p.Nombre AS Producto,
    e.Nombre AS Empleado
FROM dbo.Movimiento m
JOIN dbo.Producto p ON p.Id = m.ProductoId
LEFT JOIN dbo.Empleado e ON e.Id = m.EmpleadoId;
GO
/****** Object:  View [dbo].[V_ProductosActivos]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_ProductosActivos] AS
SELECT p.Id, p.SKU, p.Nombre, p.Precio
FROM dbo.Producto p
WHERE p.Estado = 1;
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Estado] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargoPermiso]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoPermiso](
	[CargoId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
 CONSTRAINT [PK_CargoPermiso] PRIMARY KEY CLUSTERED 
(
	[CargoId] ASC,
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [nvarchar](20) NULL,
	[Nombre] [nvarchar](160) NOT NULL,
	[Telefono] [nvarchar](25) NULL,
	[Email] [nvarchar](150) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Estado] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cliente_Documento] UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](80) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalidaCabecera]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalidaCabecera](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero]  AS ('SAL-'+right(concat('000000',[Id]),(6))) PERSISTED,
	[FechaUtc] [datetime2](7) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
	[EmpleadoId] [int] NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
	[ClienteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalidaDetalle]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalidaDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalidaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
	[StockDespues] [int] NOT NULL,
	[Observaciones] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargo] ADD  CONSTRAINT [DF_Cargo_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cargo] ADD  CONSTRAINT [DF_Cargo_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Cargo] ADD  CONSTRAINT [DF_Cargo_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Empleado_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Empleado_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Empleado_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Inventario] ADD  CONSTRAINT [DF_Inventario_Stock]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Inventario] ADD  CONSTRAINT [DF_Inventario_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Inventario] ADD  CONSTRAINT [DF_Inventario_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Movimiento] ADD  CONSTRAINT [DF_Mov_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaUtc]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [DF_Proveedor_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [DF_Proveedor_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [DF_Proveedor_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[SalidaCabecera] ADD  CONSTRAINT [DF_SalCab_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaUtc]
GO
ALTER TABLE [dbo].[SalidaCabecera] ADD  CONSTRAINT [DF_SalCab_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[SalidaCabecera] ADD  CONSTRAINT [DF_SalCab_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[SalidaCabecera] ADD  CONSTRAINT [DF_SalCab_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[CargoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_CP_Cargo] FOREIGN KEY([CargoId])
REFERENCES [dbo].[Cargo] ([Id])
GO
ALTER TABLE [dbo].[CargoPermiso] CHECK CONSTRAINT [FK_CP_Cargo]
GO
ALTER TABLE [dbo].[CargoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_CP_Permiso] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[CargoPermiso] CHECK CONSTRAINT [FK_CP_Permiso]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Cargo] FOREIGN KEY([CargoId])
REFERENCES [dbo].[Cargo] ([Id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Cargo]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Producto]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Emp] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Mov_Emp]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Prod] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Mov_Prod]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedor] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
ALTER TABLE [dbo].[SalidaCabecera]  WITH CHECK ADD  CONSTRAINT [FK_SalCab_Emp] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[SalidaCabecera] CHECK CONSTRAINT [FK_SalCab_Emp]
GO
ALTER TABLE [dbo].[SalidaCabecera]  WITH CHECK ADD  CONSTRAINT [FK_SalidaCab_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[SalidaCabecera] CHECK CONSTRAINT [FK_SalidaCab_Cliente]
GO
ALTER TABLE [dbo].[SalidaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_SalDet_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[SalidaDetalle] CHECK CONSTRAINT [FK_SalDet_Producto]
GO
ALTER TABLE [dbo].[SalidaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_SalDet_Salida] FOREIGN KEY([SalidaId])
REFERENCES [dbo].[SalidaCabecera] ([Id])
GO
ALTER TABLE [dbo].[SalidaDetalle] CHECK CONSTRAINT [FK_SalDet_Salida]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [CK_Empleado_PasswordHash_Len] CHECK  (([PasswordHash] IS NULL OR len([PasswordHash])>=(50)))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [CK_Empleado_PasswordHash_Len]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [CK_Inventario_Min] CHECK  (([MinStock] IS NULL OR [MinStock]>=(0)))
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [CK_Inventario_Min]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [CK_Inventario_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [CK_Inventario_Stock]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [CK_Mov_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [CK_Mov_Cantidad]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [CK_Mov_Tipo] CHECK  (([Tipo]='AJUSTE-' OR [Tipo]='AJUSTE+' OR [Tipo]='SALIDA' OR [Tipo]='INGRESO'))
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [CK_Mov_Tipo]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_Precio]
GO
ALTER TABLE [dbo].[SalidaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_SalDet_Cant] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[SalidaDetalle] CHECK CONSTRAINT [CK_SalDet_Cant]
GO
ALTER TABLE [dbo].[SalidaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_SalDet_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[SalidaDetalle] CHECK CONSTRAINT [CK_SalDet_Precio]
GO
/****** Object:  StoredProcedure [dbo].[SP_IngresoAlmacen]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_IngresoAlmacen]
    @ProductoId INT,
    @EmpleadoId INT = NULL,
    @Cantidad   INT,
    @Motivo     NVARCHAR(150) = NULL,
    @Referencia NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @Cantidad <= 0 THROW 50001, 'La cantidad debe ser mayor que cero.', 1;

    BEGIN TRAN;

    -- Bloqueo de fila para consistencia
    DECLARE @Stock INT;
    SELECT @Stock = Stock
    FROM dbo.Inventario WITH (UPDLOCK, ROWLOCK)
    WHERE ProductoId = @ProductoId;

    IF @Stock IS NULL THROW 50002, 'Producto sin inventario.', 1;

    UPDATE dbo.Inventario
       SET Stock = Stock + @Cantidad
     WHERE ProductoId = @ProductoId;

    DECLARE @NuevoStock INT;
    SELECT @NuevoStock = Stock FROM dbo.Inventario WHERE ProductoId = @ProductoId;

    INSERT INTO dbo.Movimiento (ProductoId, EmpleadoId, Tipo, Cantidad, StockDespues, Motivo, Referencia)
    VALUES (@ProductoId, @EmpleadoId, 'INGRESO', @Cantidad, @NuevoStock, @Motivo, @Referencia);

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarSalidaCompleta]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_RegistrarSalidaCompleta]
    @EmpleadoId     INT = NULL,
    @Observaciones  NVARCHAR(200) = NULL,
    @Detalles       dbo.DetalleSalidaTipo READONLY
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM @Detalles)
        THROW 50006, 'Debe enviar al menos un detalle.', 1;

    BEGIN TRAN;

    -- Cabecera
    INSERT INTO dbo.SalidaCabecera (EmpleadoId, Observaciones)
    VALUES (@EmpleadoId, @Observaciones);

    DECLARE @SalidaId INT = SCOPE_IDENTITY();

    -- Cursor de detalles (sin ISNULL para permitir NULL)
    DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
        SELECT ProductoId, Cantidad, PrecioUnitario, Observaciones
        FROM @Detalles;

    DECLARE
        @ProdId     INT,
        @Cant       INT,
        @PU         DECIMAL(12,2),
        @Obs        NVARCHAR(150),
        @StockDesp  INT,
        @PUFinal    DECIMAL(12,2),
        @Ref        NVARCHAR(40);

    OPEN cur;
    FETCH NEXT FROM cur INTO @ProdId, @Cant, @PU, @Obs;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Precio por defecto: el de la tabla Producto si viene NULL o 0
        IF (@PU IS NULL OR @PU = 0)
            SELECT @PUFinal = Precio FROM dbo.Producto WHERE Id = @ProdId;
        ELSE
            SET @PUFinal = @PU;

        -- Referencia como texto (evita el CONVERT directo en el EXEC)
        SET @Ref = CAST(@SalidaId AS NVARCHAR(40));

        -- Descuenta stock (SP transaccional)
        EXEC dbo.SP_SalidaAlmacen
             @ProductoId = @ProdId,
             @EmpleadoId = @EmpleadoId,
             @Cantidad   = @Cant,
             @Motivo     = N'Salida (documento)',
             @Referencia = @Ref;

        -- Stock restante para guardar en detalle
        SELECT @StockDesp = Stock
        FROM dbo.Inventario WITH (NOLOCK)
        WHERE ProductoId = @ProdId;

        -- Detalle
        INSERT INTO dbo.SalidaDetalle
              (SalidaId, ProductoId, Cantidad, PrecioUnitario, StockDespues, Observaciones)
        VALUES(@SalidaId, @ProdId, @Cant, @PUFinal, @StockDesp, @Obs);

        FETCH NEXT FROM cur INTO @ProdId, @Cant, @PU, @Obs;
    END

    CLOSE cur; DEALLOCATE cur;

    COMMIT TRAN;

    -- Retorna cabecera emitida
    SELECT sc.Id, sc.Numero, sc.FechaUtc, sc.Estado, sc.Observaciones
    FROM dbo.SalidaCabecera sc
    WHERE sc.Id = @SalidaId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SalidaAlmacen]    Script Date: 4/10/2025 14:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salida genérica de stock
CREATE   PROCEDURE [dbo].[SP_SalidaAlmacen]
    @ProductoId INT,
    @EmpleadoId INT = NULL,
    @Cantidad   INT,
    @Motivo     NVARCHAR(150) = NULL,
    @Referencia NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @Cantidad <= 0 THROW 50003, 'La cantidad debe ser mayor que cero.', 1;

    BEGIN TRAN;

    DECLARE @Stock INT;
    SELECT @Stock = Stock
    FROM dbo.Inventario WITH (UPDLOCK, ROWLOCK)
    WHERE ProductoId = @ProductoId;

    IF @Stock IS NULL          THROW 50004, 'Producto sin inventario.', 1;
    IF @Stock < @Cantidad      THROW 50005, 'Stock insuficiente.', 1;

    UPDATE dbo.Inventario
       SET Stock = Stock - @Cantidad
     WHERE ProductoId = @ProductoId;

    DECLARE @NuevoStock INT;
    SELECT @NuevoStock = Stock FROM dbo.Inventario WHERE ProductoId = @ProductoId;

    INSERT INTO dbo.Movimiento (ProductoId, EmpleadoId, Tipo, Cantidad, StockDespues, Motivo, Referencia)
    VALUES (@ProductoId, @EmpleadoId, 'SALIDA', @Cantidad, @NuevoStock, @Motivo, @Referencia);

    COMMIT TRAN;
END;
GO
MERGE dbo.Permiso AS tgt
USING (VALUES
  (N'inventario.ver',     N'Ver inventario'),
  (N'movimientos.ver',    N'Ver movimientos'),
  (N'productos.ver',      N'Ver productos'),
  (N'productos.crear',    N'Crear producto'),
  (N'productos.editar',   N'Editar producto'),
  (N'productos.eliminar', N'Eliminar/desactivar producto'),
  (N'proveedores.ver',    N'Ver proveedores'),
  (N'proveedores.crear',  N'Crear proveedor'),
  (N'proveedores.editar', N'Editar proveedor'),
  (N'proveedores.eliminar',N'Eliminar/desactivar proveedor'),
  (N'empleados.ver',      N'Ver empleados'),
  (N'empleados.crear',    N'Crear empleado'),
  (N'empleados.editar',   N'Editar empleado'),
  (N'empleados.eliminar', N'Eliminar/desactivar empleado'),
  (N'ingresos.crear',     N'Registrar ingreso'),
  (N'salidas.crear',      N'Registrar salida'),
  (N'admin.config',       N'Administrar configuración/roles')
) AS src(Clave,Nombre)
ON (tgt.Clave = src.Clave)
WHEN NOT MATCHED THEN INSERT (Clave,Nombre) VALUES (src.Clave,src.Nombre);
GO

-- 3) Asegura roles base
IF NOT EXISTS (SELECT 1 FROM dbo.Cargo WHERE Nombre=N'ADMIN')
  INSERT INTO dbo.Cargo(Nombre,Descripcion) VALUES (N'ADMIN',N'Acceso total');
IF NOT EXISTS (SELECT 1 FROM dbo.Cargo WHERE Nombre=N'ALMACENERO')
  INSERT INTO dbo.Cargo(Nombre,Descripcion) VALUES (N'ALMACENERO',N'Gestión de inventario');
GO

DECLARE @AdminId INT = (SELECT Id FROM dbo.Cargo WHERE Nombre=N'ADMIN');
DECLARE @AlmId   INT = (SELECT Id FROM dbo.Cargo WHERE Nombre=N'ALMACENERO');

-- 4) ADMIN: todos los permisos
INSERT INTO dbo.CargoPermiso(CargoId, PermisoId)
SELECT @AdminId, p.Id
FROM dbo.Permiso p
WHERE NOT EXISTS (SELECT 1 FROM dbo.CargoPermiso cp WHERE cp.CargoId=@AdminId AND cp.PermisoId=p.Id);

-- 5) ALMACENERO: solo operativos
;WITH P AS(
  SELECT Id, Clave FROM dbo.Permiso
  WHERE Clave IN (
    N'inventario.ver', N'movimientos.ver',
    N'productos.ver',
    N'proveedores.ver',
    N'ingresos.crear', N'salidas.crear'
  )
)
INSERT INTO dbo.CargoPermiso(CargoId, PermisoId)
SELECT @AlmId, p.Id
FROM P p
WHERE NOT EXISTS (SELECT 1 FROM dbo.CargoPermiso cp WHERE cp.CargoId=@AlmId AND cp.PermisoId=p.Id);
GO
MERGE dbo.Categoria AS tgt
USING (VALUES
  (N'Sofás y Sillones'),
  (N'Mesas de Centro'),
  (N'Muebles de TV y Entretenimiento'),
  (N'Mesas de Comedor'),
  (N'Sillas de Comedor'),
  (N'Aparadores y Vitrinas'),
  (N'Camas'),
  (N'Mesas de Noche'),
  (N'Cómodas y Roperos'),
  (N'Colchones'),
  (N'Escritorios'),
  (N'Sillas Ergonómicas'),
  (N'Archivadores y Libreros'),
  (N'Estaciones de Trabajo'),
  (N'Muebles de Cocina'),
  (N'Islas y Carros Auxiliares'),
  (N'Muebles de Baño'),
  (N'Terraza y Jardín'),
  (N'Almacenamiento Modular'),
  (N'Iluminación'),
  (N'Decoración'),
  (N'Textiles'),
  (N'Infantil/Juvenil'),
  (N'Muebles a Medida')
) AS src(Nombre)
ON (tgt.Nombre = src.Nombre)
WHEN NOT MATCHED THEN
  INSERT (Nombre, Estado) VALUES (src.Nombre, 1);
GO

MERGE dbo.Cliente AS tgt
USING (VALUES
  (N'20100030011', N'Muebles Andinos S.A.C.',      N'(01) 445-1001', N'contacto@mandinos.pe',  N'Av. Arequipa 1250, Lima',        1),
  (N'20601234567', N'Casa Deco E.I.R.L.',          N'(01) 555-2010', N'ventas@casadeco.pe',    N'Jr. Las Magnolias 210, Surco',   1),
  (N'10456789',    N'Juan Pérez',                  N'999-111-222',   N'juan.perez@mail.com',   N'Av. Colonial 345, Callao',       1),
  (N'71452369',    N'Laura Gómez',                 N'987-654-321',   N'laura.gomez@mail.com',  N'Jr. Puno 520, Cercado',          1),
  (N'20111177777', N'Interiors del Perú S.A.C.',   N'(01) 421-3300', N'info@interiors.pe',     N'Av. Petit Thouars 2300, Lima',   1),
  (N'20555566661', N'Deco Hogar S.R.L.',           N'(01) 700-8899', N'admin@decohogar.pe',    N'Av. La Marina 1500, San Miguel', 1),
  (N'20677788880', N'Estilo & Confort S.A.C.',     N'(01) 333-1200', N'contacto@estiloconfort.pe', N'Av. Angamos 740, Miraflores', 1),
  (N'75643210',    N'Carlos Ramírez',              N'988-222-333',   N'c.ramirez@mail.com',    N'Av. Venezuela 1001, Breña',      1),
  (N'20600011223', N'Equipamiento Global S.A.C.',  N'(01) 209-7788', N'ventas@eqglobal.pe',    N'Av. Universitaria 2500, SMP',    1),
  (N'77881234',    N'Fernanda Torres',             N'989-777-111',   N'ftorres@mail.com',      N'Jr. Arica 130, Barranco',        1),
  (N'20155590901', N'Grupo Hogar Perú S.A.C.',     N'(01) 600-4455', N'contacto@grupohogar.pe',N'Av. Garcilaso 850, La Victoria', 1),
  (N'70334455',    N'Luis Medina',                 N'997-880-660',   N'luismedina@mail.com',   N'Av. Los Próceres 1020, SJL',     1)
) AS src(Documento, Nombre, Telefono, Email, Direccion, Estado)
ON (tgt.Documento = src.Documento)
WHEN NOT MATCHED THEN
  INSERT (Documento, Nombre, Telefono, Email, Direccion, Estado)
  VALUES (src.Documento, src.Nombre, src.Telefono, src.Email, src.Direccion, src.Estado);
GO


MERGE dbo.Proveedor AS tgt
USING (VALUES
  (N'Maderas Andinas S.A.C.',           N'(01) 445-9020', N'contacto@maderasandinas.pe',      N'Av. Separadora Industrial 123, Ate',                 1),
  (N'MDF y Melaminas del Sur S.A.C.',   N'(01) 480-7710', N'ventas@mdfsur.pe',                 N'Av. Industrial 450, Villa El Salvador',             1),
  (N'Acabados & Laminados del Perú',    N'(01) 411-3300', N'info@laminadosperu.pe',            N'Av. Nicolás Ayllón 5200, Ate',                      1),
  (N'Herrajes Premium Perú S.A.C.',     N'(01) 720-8899', N'ventas@herrajespremium.pe',        N'Jr. Locumba 210, La Victoria',                      1),
  (N'Ferretería Industrial Callao',     N'(01) 429-5533', N'compras@ferreindcallao.pe',        N'Av. Argentina 3200, Callao',                        1),
  (N'Textiles del Hogar S.A.C.',        N'(01) 501-2211', N'comercial@textileshogar.pe',       N'Av. México 780, La Victoria',                       1),
  (N'Espumas Industriales Perú',        N'(01) 705-6600', N'cotizaciones@espumasperu.pe',      N'Av. Alfredo Mendiola 6200, SMP',                    1),
  (N'Tapicerías Finas E.I.R.L.',        N'987-654-310',   N'contacto@tapiceriasfinas.pe',      N'Jr. Huanuco 345, Cercado de Lima',                  1),
  (N'Iluminación Moderna S.A.C.',       N'(01) 433-9910', N'ventas@iluminamoderna.pe',         N'Av. Canadá 1560, La Victoria',                      1),
  (N'Vidrios y Espejos San Isidro',     N'(01) 421-7788', N'pedidos@vidriossanisidro.pe',      N'Av. Arequipa 3201, San Isidro',                     1),
  (N'Pinturas & Barnices Andinos',      N'(01) 355-9001', N'soporte@barnicesandinos.pe',       N'Av. Próceres 4555, San Juan de Lurigancho',         1),
  (N'Embalajes Pacífico S.A.C.',        N'(01) 619-2020', N'logistica@embalajespacifico.pe',   N'Av. Néstor Gambetta 5000, Callao',                  1),
  (N'MetalMecánica Creativa S.A.C.',    N'(01) 716-3300', N'contacto@metalmecanica.pe',        N'Av. Evitamiento 1500, El Agustino',                 1),
  (N'Archivadores & Libreros Perú',     N'(01) 640-1180', N'ventas@archilibreros.pe',          N'Av. La Marina 2500, San Miguel',                    1),
  (N'Logística Express S.A.C.',         N'(01) 700-4400', N'ope@logisticaexpress.pe',          N'Av. Elmer Faucett 1200, Callao',                    1),
  (N'Decoración y Accesorios Chic',     N'989-222-100',   N'contacto@decorchic.pe',            N'Av. Benavides 3100, Miraflores',                    1)
) AS src(Nombre, Telefono, Email, Direccion, Estado)
ON (tgt.Nombre = src.Nombre)
WHEN NOT MATCHED THEN
  INSERT (Nombre, Telefono, Email, Direccion, Estado)
  VALUES (src.Nombre, src.Telefono, src.Email, src.Direccion, src.Estado)
WHEN MATCHED THEN
  UPDATE SET
    Telefono  = ISNULL(src.Telefono,  tgt.Telefono),
    Email     = ISNULL(src.Email,     tgt.Email),
    Direccion = ISNULL(src.Direccion, tgt.Direccion),
    Estado    = src.Estado;
GO